<p id="notice"><%= notice %></p>

<h1 class="text-center">リプライ</h1><br>

<div class="container">
  <div class="table-responsive">
    <table class="table">
      <tr>
        <td align="right">
          <% if @micropost.user.image? %>
            <%= image_tag @micropost.user.image.thumb.url %>
          <% else %>
            <%= image_tag("/images/icon/no-image.png") %>
          <% end %>
        </td>
        <br>
        <td><p class="text-primary">by : <%= @micropost.user.nickname %></p><br>
          <%= @micropost.text %><br>
        </td>
      </tr>
    </table><br>
    <div class="button_wrapper">
        <%= link_to 'リプライ', new_micropost_comment_path, :class => "btn btn-primary btn-lg" %>
    </div><br>
    <table class="table">
      <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td align="right"> <% if comment.user.image? %>
            <%= image_tag comment.user.image.thumb.url %>
          <% else %>
            <%= image_tag("/images/icon/no-image.png") %>
          <% end %>
        </td>
        <td>
          <p class="text-primary">by: <%= comment.user.nickname %></p>
            <p><%= comment.replyment %></p>
        </td>
            <td><%= link_to '削除', micropost_comment_path(@micropost, comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
          </td>
      </tr>
        <% end %>
      </tbody>
    </table><br>
  <%= link_to 'Back',microposts_path, :class => "btn btn-secondary" %>
 </div>
</div>
