<p id="notice"><%= notice %></p>

<h1 class="text-center">リプライ</h1><br>

<div class="container">

  <h3><span class="badge badge-primary">by : <%= @micropost.user.nickname %></span></h3><br>
    <%= @micropost.text %><br>
    <br>
  <div class="table-responsive">

    <table class="table">
      <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <div class="text-primary">
          <td class="col-xs-3"><p class="text-primary">by: <%= comment.user.nickname %></p><br>
        </div>
            <p><%= comment.replyment %></p>
          </td>
          <td class="col-xs-3"><%= link_to '削除', micropost_comment_path(@micropost, comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
          </td>
      </tr>
        <% end %>
      </tbody>
    </table><br>
    <div class="button_wrapper">
        <%= link_to 'リプライ', new_micropost_comment_path, :class => "btn btn-primary btn-lg" %>
    </div>
  <%= link_to 'Back',microposts_path, :class => "btn btn-secondary" %>
 </div>
</div>
