<h1 class="text-center">New Comments</h1>

<div class="container">

<h3><span class="badge badge-success"><th scope="col">Nickname: <%= @user.nickname %></th></span></h3>
<p>
  <strong>text:</strong>
  <%= @micropost.text%>
</p>
<%= form_for(@comment, :url => micropost_comments_path) do |form| %>

  <div class="field">
    <%= form.text_field :replyment , class: 'form-control', placeholder: "Replyment", autofocus: true  %><br>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %><br>
  </div>

<% end %><br>

<%= link_to 'Back',micropost_comments_path , :class => "btn btn-secondary"%>

</div>
