<h1 class="text-center">リプライ</h1>

<div class="container">
<tr>
  <h3><span class="badge badge-primary"><th scope="col">by : <%= @micropost.user.nickname %></th></span></h3>
  <th colspan="3"></th>
</tr>
<p>
  <strong>ツイート:</strong>
  <%= @micropost.text%>
</p><br>
<%= form_for(@comment, :url => micropost_comments_path) do |form| %>

  <div class="field">
    <%= form.text_area :replyment , class: 'form-control', placeholder: "リプライ", autofocus: true  %><br>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %><br>
  </div>

<% end %><br>

<%= link_to 'Back',micropost_comments_path , :class => "btn btn-secondary"%>

</div>
