<h1 class ="text-center">Editing User</h1><br>

<div class="container">

<%= form_for(@user) do |form| %>

    <div class="field">
      <%= form.text_field :nickname , class: 'form-control', placeholder: "Nickname"  %><br>
    </div><br>

    <div class="field">
      <%= form.label :gender %><br>
      <%= form.label :male %>
      <%= form.radio_button :gender, 1, label: "male", inline: true %><br>
      <%= form.label :female %>
      <%= form.radio_button :gender, 2, label: "female", inline: true %><br>
      <%= form.label :other %>
      <%= form.radio_button :gender, 3, label: "other", inline: true %><br>
    </div><br>

    <div class="field">
      <%= form.label :birthday %><br>
      <%= form.date_select :birthday %><br>
    </div><br>

    <div class="field">
      <%= form.text_field :introduction, class: 'form-control', placeholder: "introduction" %><br>
    </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary"%><br>
  </div>

<% end %><br>

<%= link_to 'Show', @user , :class => "btn btn-warning"%>
<%= link_to 'Back', microposts_path ,:class => "btn btn-info"%>

</div>
