<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>nickname:</strong>
  <%= @user.profile.nickname %>
</p>

<p>
  <strong>gender:</strong>
  <%= @user.profile.gender %>
</p>

<p>
  <strong>birthday:</strong>
  <%= @user.profile.birthday %>
</p>

<p>
  <strong>introduction:</strong>
  <%= @user.profile.introduction %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
