<div class="container">
  <div class="form-group">
      <p>
        <strong>nickname:</strong>
        <%= @user.nickname %>
      </p>
      <%= form_for(@micropost) do |form| %>
          <div class="field">
            <%= form.text_field :text, class: 'form-control', placeholder: "Text", autofocus: true  %><br>
          </div>

          <div class="field">
            <%= form.number_field :tag , class: 'form-control', placeholder: "Tag", autofocus: true  %><br>
          </div>

          <div class="actions">
            <%= form.submit :class => "btn btn-primary"%>
          </div>
      <% end %>
  </div>
</div>
