<h1>New MicroPost</h1>



<%= form_for(@micropost) do |form| %>

  <div class="field">
    <%= form.label :text %><br>
    <%= form.text_field :text %><br>
  </div>

  <div class="field">
    <%= form.label :tag %><br>
    <%= form.number_field :tag %><br>
  </div>

  <div class="actions">
    <%= form.submit %><br>
  </div>
<% end %>

<%= link_to 'Back',microposts_path %>
