<p id="notice"><%= notice %></p>

    <p>
      <strong>text</strong>
      <%= @micropost.text %>
      <strong>tag:</strong>
      <%= @micropost.tag %>
    </p>

    <td><%= link_to 'Edit', edit_micropost_path(@micropost) %></td>
    <td><%= link_to 'Back', microposts_path %></td>
