<p id="notice"><%= notice %></p>

  <p>
    <strong>nickname:</strong>
    <%= @user.nickname %>
  </p>

  <%= @microposts.each do |form| %>

    <p>
      <strong>text</strong>
      <%= form.text %>
      <strong>tag:</strong>
      <%= form.tag %>
    </p>

    <td><%= link_to 'Edit', edit_micropost_path(@microposts) %></td>
    <td><%= link_to 'Destroy', micropost_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  <% end %>

<%= link_to 'Back', microposts_path %>
