<p id="notice"><%= notice %></p>

  <p>
    <strong>nickname:</strong>
    <%= @user.nickname %>
  </p>

  <%= @microposts.each do |post| %>

    <p>
      <strong>text</strong>
      <%= post.text %>
      <strong>tag:</strong>
      <%= post.tag %>
    </p>

    <td><%= link_to 'Edit', edit_micropost_path(post) %></td>
    <td><%= link_to 'Destroy', micropost_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>

  <% end %>

<%= link_to 'Back', microposts_path %>
