<p id="notice" class="text-center"><%= notice %></p>

<div class="container">

  <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ツイート</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <div class="row">
                  <div class="col-sm">
                      <td class="col-xs-3"><%= @micropost.text %></td>
                  </div>
                  <div class="">
                    <td class="col-xs-3"><%= @micropost.tag %></td>
                  </div>
            </tr>
        </tbody>
  </table>


    <td class="text-center"><%= link_to '編集', edit_micropost_path(@micropost) ,:class => "btn btn-primary"%></td>
    <td class="text-center"><%= link_to 'Back', post_history_microposts_path ,:class => "btn btn-secondary"%></td>

  </div>
